.marketing-page
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px 0px;
}
.card-display
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap:15px;
}

@media (min-width:769px) and (max-width:1024px)
{
    .card-display
    {
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap:15px;
    }
}

@media (max-width:768px)
{
    .card-display
    {
        display:grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap:15px;
    }
}