.footer
{
    display:flex;
    justify-content:space-between;
    padding:10px 10px;
}

@media (max-width:768px)
{
    .footer
    {
        padding:0px;
    }
    .footer p
    {
        font-size:0.6rem;
    }
}